<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">

<head>

    <title>Knight list</title>
    <meta http-equiv="Content-Type" content="text/html"

    />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/css/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container">
  Aktualny czas:  <span  th:text="${timeComponent.time}"/><br>
 Posiadane złoto:  <span  th:text="${playerInformation.gold}"/>


    <!--<h1>Rycerze</h1>-->
    <!--<p th:text="${hello}" />-->
<!--    <p  th:text="${allKnights}"  />-->


<!--    <div th:each="knight : ${allKnights}">-->
<!--        <p th:text="${knight.name}" />-->
<!--    </div>-->
<!--    -->

    <div class="row" style="padding:10px">
<!--        !!!! tu podajemy nazwe url /newknight z controllera , nie natomiast nazwe pliku formularza !!!-->
        <a href="/newknight">Utworz rycerza</a><br>
        <a th:href="${'/checkQuests'}">Aktualizuj zadania</a><br>
<!--        albo-->
        <a href="/checkQuests">Aktualizuj zadania 2</a><br>

    </div>



        <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Imie</td>
            <td>wiek</td>
            <td>level</td>
            <td>quest</td>
        </tr>
        <tbody th:each="knight : ${allKnights}">
        <tr>
            <td th:text="${knight.id}" ></td>
            <td th:text="${knight.name}" ></td>
            <td th:text="${knight.age}" ></td>
            <td th:text="${knight.level}" ></td>
<!--            <td  th:if="${knight.quest==null}" th:text="'Brak aktualnego zadania'"></td>-->
            <td <span th:if="${knight.quest==null}" ></span> Brak aktualnego zadania <a th:href="${'/assignQuest?knightId='+knight.id}">Przypisz zadanie</a>  </td>
            <td  th:if="${knight.quest!=null}" th:text="${knight.quest.description}"></td>

            <td><a th:href="${'/knight?id='+knight.id}">Podglad</a> </td>
            <td><a th:href="${'/knight/delete/'+knight.id}">Usun</a> </td>
        </tr>
        </tbody>
        </thead>
    </table>

</div>
</body>

</html>