<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>

    <title>New Knight</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/css/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>

<body>

<div class="container" style="padding:50px">

    <form class="form-horizontal" th:object="${newKnightFromForm}" th:action="@{/saveKnightFromForm}" method="post">

        <div class="form-group">
            <label class="control-label">imie</label>
            <input type="text" class="form-control" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label class="control-label">wiek</label>
            <input type="number" class="form-control" th:field="*{age}"/>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Utwórz rycerza</button>
        </div>


    </form>

</div>
</body>
</html>