<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>

    <title>Night ino</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/css/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container">
    Aktualny czas:  <span  th:text="${timeComponent.time}"/><br>
    Posiadane zloto:  <span  th:text="${playerInformation.gold}"/>

    <table class="table">
        <thead>
        <tr><td>id</td><td>nazwa</td><td>wiek</td><td>level</td></tr>
        <tbody>
        <tbody>
        <tr>
            <td th:text="${knight.id}" ></td>
            <td th:text="${knight.name}" ></td>
            <td th:text="${knight.age}" ></td>
            <td th:text="${knight.level}" ></td>
            <td> </td>
        </tr>


        </tbody>
        </thead>
    </table>

</div>

</body>
</html>

<!--<p th:text="${knight.name}"></p>-->
<!--<p th:text="${knight.age}"></p>-->
<!--<p th:text="${knight.level}"></p>-->